<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SqlConnection" value="Server=DESKTOP-ORNC8K9;Database=YTPlaylist;user id=sa;password=dbadmin;TrustServerCertificate=True" />
		<add key="ChannelId" value="UCAvmpIzdhQINc0pBciA_xyg" />
		<add key="ClientID" value="172632151710-acehah1h0bu87uiacolue8ji1la90hb1.apps.googleusercontent.com" />
		<add key="ClientSecret" value="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" />
	</appSettings>
</configuration>
